---
title: SL2 Test 2
url: http://sl2-test-2.siteleaf.net
timezone: UTC
collections:
  posts:
    title: Posts
    output: true
  uploads:
    title: Uploads
    output: true
defaults:
- scope:
    path: "/_posts/"
    type: posts
  values:
    layout: post
    permalink: "/posts/:title/"
- scope:
    path: "/_pages/"
    type: pages
  values:
    layout: page
permalink: pretty
